.xshadow {
  box-shadow: 0 2px 5px rgba(46, 46, 46, 0.767);
}
.text-grey {
  color:darkgrey !important;
}


a,
h2 a {
  color: #242424;
  text-decoration: none;
  
}
button a,
button a:hover{
  color:white;
  text-decoration: none;
  display: block;
  height: 100%;
  width:100%;

}

.xaxa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
